p {
  text-align: left;
}

h1 {
  font-size: 4em;
}

h3, h4 {
  font-style: italic;
}

.ui.middle.aligned.centered.grid.text.container {
  color: white;
  max-width: 300px;
  max-height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ui.centered.grid.login-container {
  max-width: 300px;
  max-height: 400px;
  padding-top: 2%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: black;
}
ui.centered.card-container {
  margin: 4% 10% 4% 10%;
}

.login-title {
  font-size: 3em;
  color: white;
  padding-bottom: 50px;
  text-shadow: 2px 2px grey;
}

.owl-carousel {
  margin-top: 7%;
  margin-bottom: 4%;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
