<template name="Courses_Form_Field">
  <div class="{{#if required}}required{{/if}} field">
    <label>Course(s)</label>
    <select multiple="" class="ui dropdown" name="courses">
      <option value="">Select Courses(s)</option>
        <option value="ICS 101">Tools for the Info World</option>
        <option value="ICS 110">Introduction to Computer Programming</option>
        <option value="ICS 111">Intro to Computer Science I</option>
        <option value="ICS 141">Discrete Math for CS I</option>
        <option value="ICS 210">Information Systems in Society</option>
        <option value="ICS 211">Intro to Computer Science II</option>
        <option value="ICS 212">Program Structure</option>
        <option value="ICS 215">Introduction to Scripting</option>
        <option value="ICS 222">Basic Concepts of Computer Science</option>
        <option value="ICS 242">Discrete Mathematics II</option>
        <option value="ICS 290">Computer Science Careers</option>
        <option value="ICS 311">Algorithms</option>
        <option value="ICS 312">Machine-Level and Systems Programming</option>
        <option value="ICS 313">Programming Language Theory</option>
        <option value="ICS 314">Software Engineering I</option>
        <option value="ICS 321">Data Storage and Retrieval</option>
        <option value="ICS 331">Logic Design and Microprocessors</option>
        <option value="ICS 332">Operating Systems</option>
        <option value="ICS 351">Network Design and Management</option>
        <option value="ICS 355">Security and Trust I</option>
        <option value="ICS 361">Introduction to Artificial Intelligence Programming</option>
        <option value="ICS 390">Computer Ethics for LAs</option>
        <option value="ICS 414">Software Engineering II</option>
        <option value="ICS 415">Intro to Programming for the Web</option>
        <option value="ICS 419">The Science, Psychology and Philosophy of Systems Design</option>
        <option value="ICS 421">Database Systems</option>
        <option value="ICS 422">Data Processing</option>
        <option value="ICS 423">Computer Security</option>
        <option value="ICS 424">Application Frameworks</option>
        <option value="ICS 425">Computer Security and Ethics</option>
        <option value="ICS 426">Computer Systems Security</option>
        <option value="ICS 431">Computer Architecture</option>
        <option value="ICS 432">Concurrent and High-Performance Programming</option>
        <option value="ICS 435">Machine Learning Fundamentals</option>
        <option value="ICS 441">Theory of Computation</option>
        <option value="ICS 442">Analytical Models and Methods</option>
        <option value="ICS 443">Parallel Algorithms</option>
        <option value="ICS 451">Data Networks</option>
        <option value="ICS 452">Software Design for Robotics</option>
        <option value="ICS 455">Security and Trust II</option>
        <option value="ICS 461">Artificial Intelligence</option>
        <option value="ICS 462">Artificial Intelligence for Games</option>
        <option value="ICS 464">Human Computer Interaction</option>
        <option value="ICS 465">Introduction to Hypermedia</option>
        <option value="ICS 466">Design for Mobile Devices</option>
        <option value="ICS 469">Cognitive Science</option>
        <option value="ICS 471">Probability, Statistics and Queueing</option>
        <option value="ICS 475">Introduction to Bioinformatics, Sequences and Genomes Analysis</option>
        <option value="ICS 476">Bioinformatics, Algorithms and Tool Development</option>
        <option value="ICS 481">Introduction to Computer Graphics</option>
        <option value="ICS 483">Computer Vision</option>
        <option value="ICS 484">Data Visualization</option>
        <option value="ICS 485">Video Game Design and Development</option>
        <option value="ICS 491">Special Topics</option>
        <option value="ICS 495">Special Topics in Security</option>
        <option value="ICS 499">Computer Project</option>
        <option value="ICS 500">Master Plan B/C</option>
        <option value="ICS 606">Intelligent Autonomous Agents</option>
        <option value="ICS 611">Compiler Theory and Construction</option>
        <option value="ICS 612">Theory of Operating Systems</option>
        <option value="ICS 613">Advanced Software Engineering</option>
        <option value="ICS 614">Medical Informatics I</option>
        <option value="ICS 616">Information, Architecture and Web Design</option>
        <option value="ICS 621">Analysis of Algorithms</option>
        <option value="ICS 622">Network Science</option>
        <option value="ICS 623">Data Security</option>
        <option value="ICS 624">Advanced Data Management</option>
        <option value="ICS 632">Principles of High Performance Computing</option>
        <option value="ICS 635">Machine Learning</option>
        <option value="ICS 636">Information Theory and Machine Learning</option>
        <option value="ICS 641">Advanced Theory of Computation</option>
        <option value="ICS 643">Advanced Parallel Algorithms</option>
        <option value="ICS 651">Computer Networks</option>
        <option value="ICS 655">Security and Trust III</option>
        <option value="ICS 660">Computer Architecture</option>
        <option value="ICS 661">Advanced Artificial Intelligence</option>
        <option value="ICS 663">Pattern Recognition</option>
        <option value="ICS 664">Human-Computer Interaction II</option>
        <option value="ICS 665">User Interfaces and Hypermedia</option>
        <option value="ICS 667">HCI Design Methods</option>
        <option value="ICS 668">Social Informatics</option>
        <option value="ICS 669">Social Computing</option>
        <option value="ICS 674">Evolutionary Computation I</option>
        <option value="ICS 675">Bioinformatics: Sequences Analysis</option>
        <option value="ICS 676">Bioinformatics: Microarrays</option>
        <option value="ICS 682">Numerical Computation</option>
        <option value="ICS 683">Advanced Computer Vision</option>
        <option value="ICS 686">Digital Video Information</option>
        <option value="ICS 690">Seminar in ICS</option>
        <option value="ICS 691">Topics in Software</option>
        <option value="ICS 695">Advanced Special Topics in Security</option>
        <option value="ICS 699">Directed Reading/Research</option>
        <option value="ICS 700">Thesis Research</option>
        <option value="ICS 800">Dissertation Research</option>
    </select>
  </div>
</template>